[Desktop Entry]
Name=QT_llama.cpp
GenericName=AI Agent & Vibe-Coder
Comment=Multimodal Vision, Desktop Control, Browser Automation & General AI Agent for llama.cpp
Exec=qt-llama-wrapper
Icon=dev.mitchellrenouf.QT_llama
Terminal=false
Type=Application
Categories=Utility;Development;ArtificialIntelligence;AudioVideo;
Keywords=AI;Agent;llama;Gemma;Coding;Automation;Vision;GPU;Vulkan;CUDA;
StartupNotify=true
